<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.passing.platform.dao.CoursewareMapper">

  <resultMap id="BaseResultMap" type="com.passing.platform.domain.Courseware">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="courseid" jdbcType="INTEGER" property="courseid" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="document" jdbcType="VARCHAR" property="document" />
  </resultMap>
  <sql id="Base_Column_List">
    id, courseid, video, title, document
  </sql>

  <select id="selectAllCourseWare" resultType="com.passing.platform.domain.Courseware" parameterType="java.lang.Integer">
    select * from courseware where courseid=#{2} limit #{0},#{1};
  </select>
  <select id="selectAllCount" resultType="java.lang.Integer">
    select count(*) from courseware ;
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from courseware
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from courseware
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.passing.platform.domain.Courseware">
    insert into courseware (id, courseid, video, 
      title, document)
    values (#{id,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, #{video,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{document,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.passing.platform.domain.Courseware">
    insert into courseware
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseid != null">
        courseid,
      </if>
      <if test="video != null">
        video,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="document != null">
        document,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="video != null">
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="document != null">
        #{document,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.passing.platform.domain.Courseware">
    update courseware
    <set>
      <if test="courseid != null">
        courseid = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="video != null">
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="document != null">
        document = #{document,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.passing.platform.domain.Courseware">
    update courseware
    set courseid = #{courseid,jdbcType=INTEGER},
      video = #{video,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      document = #{document,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>